#bodyContent a.external,#bodyContent a[href ^="gopher://"],#bodyContent a.external[href ^="https://"],.link-https {
	/*@embed*/
	background:url(images/desktop/bs-external.png) center right no-repeat;
	padding-right:13px;
}

#bodyContent a.external[href $=".ogg"],#bodyContent a.external[href $=".OGG"],#bodyContent a.external[href $=".mid"],
#bodyContent a.external[href $=".MID"],#bodyContent a.external[href $=".midi"],#bodyContent a.external[href $=".MIDI"],
#bodyContent a.external[href $=".mp3"],#bodyContent a.external[href $=".MP3"],#bodyContent a.external[href $=".wav"],
#bodyContent a.external[href $=".WAV"],#bodyContent a.external[href $=".wma"],#bodyContent a.external[href $=".WMA"],.link-audio {
	/*@embed*/
	background:url(images/desktop/bs-audio.png) center right no-repeat;
	padding-right:13px;
}

#bodyContent a.external[href $=".ogm"],#bodyContent a.external[href $=".OGM"],#bodyContent a.external[href $=".avi"],
#bodyContent a.external[href $=".AVI"],#bodyContent a.external[href $=".mpeg"],#bodyContent a.external[href $=".MPEG"],
#bodyContent a.external[href $=".mpg"],#bodyContent a.external[href $=".MPG"],.link-video {
	/*@embed*/
	background:url(images/desktop/bs-video.png) center right no-repeat;
	padding-right:13px;
}

#bodyContent a.external[href $=".pdf"],#bodyContent a.external[href $=".PDF"],#bodyContent a.external[href *=".pdf#"],
#bodyContent a.external[href *=".PDF#"],#bodyContent a.external[href *=".pdf?"],#bodyContent a.external[href *=".PDF?"],.link-document {
	/*@embed*/
	background:url(images/desktop/bs-document.png) center right no-repeat;
	padding-right:12px;
}

#bodyContent a.extiw,#bodyContent a.extiw:active {
	color:#36b;
	background:none;
	padding:0;
}

#bodyContent a.external[href^="ftp://"],.link-ftp {
	/*@embed*/
	background:url(images/desktop/bs-icon-file.gif) center right no-repeat;
	padding-right:18px;
}

#bodyContent a.external[href^="irc://"],.link-irc {
	/*@embed*/
	background:url(images/desktop/bs-icon-discussionitem.gif) center right no-repeat;
	padding-right:18px;
}

#bodyContent a.external[href^="mailto:"],.link-mailto {
	/*@embed*/
	background:url(images/desktop/bs-icon-mail.gif) center right no-repeat;
	padding-right:18px;
}

#bodyContent a.external[href^="news://"] {
	/*@embed*/
	background:url(images/desktop/bs-icon-news.png) center right no-repeat;
	padding-right:18px;
}

#bodyContent a.external[href^="http://"],
#bodyContent a.external[href^="https://"],
.link-https{
	/*@embed*/
	background:url(images/desktop/bs-external.png) no-repeat scroll right center transparent;
	padding-right:13px;
}

#bodyContent .plainlinks a {
	background:none!important;
	padding:0!important;
}

#bodyContent a.external {
	color:#36b;
}

#content a {
	color:#3F527F;
}

#content a.new {
	color:#BA0000;
}