#allmessagestable th {
	background-color:#b2b2ff;
}

#allmessagestable tr.def {
	background-color:#f0f0ff;
}

#allmessagestable tr.new {
	background-color:#e2ffe2;
}

#allmessagestable tr.orig {
	background-color:#ffe2e2;
}

#bodyContent {
	min-height:450px;
	padding: 0 15px 15px 15px;
	/*font-size: 0.8em;*/
	/* This is vector/screen.css compliant, 
	 but ExtJS .x-body styling breaks it*/
}

#bodyContent h1,#bodyContent h2,.mceContentBody h1,.mceContentBody h2 {
	border-bottom: none;
	margin-bottom:.6em;
}
h1.firstHeading{
	padding: 15px 15px 5px 15px;
	clear: both;
}

#bodyContent h3,#bodyContent h4,#bodyContent h5,.mceContentBody h3,.mceContentBody h4,.mceContentBody h5 {
	margin-bottom:.3em;
}

#bodyContent ul,.mceContentBody ul {
	list-style-type:square;
	/*@embed*/
	list-style-image:url(images/desktop/content-bullet.png);
	margin:.3em 0 0 1.5em;
}

#boxes-right li {
	/*@embed*/
	list-style-image:url(images/desktop/bullet-pfeil.png);
}

#boxes-right p {
	line-height:1.3em;
}

#boxes-right ul li a:link {
	color:#91bce6;
	text-transform:uppercase;
	font-size:12px;
}

#bs-afterarticlecontent {
	/*@embed*/
	background:url(images/desktop/bs-after-bg.png) top repeat-x #F3F3F3;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
	background:none, #eee;
}

#bs-afterarticlecontent fieldset {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
	border-top-color:#ddd;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:6px;
	border:none;
}

#bs-afterarticlecontent legend {
	font-family: 'Source Sans Pro', Arial, sans-serif !important;
	text-transform: uppercase;
	padding:0;
}

#bs-afterarticlecontent legend.active{
	color: #3E5389 !important;
	font-weight: 100;
}

#bs-dataaftercontent {
	/* dont't know for what this is :)
	width:105%;
	margin-left:-16px;
	*/
}

#bs-application {
	width:1200px;
	float:left;
	clear:none;
	padding:0;
	margin-top: 25px;
}

#bs-apps {
	height:32px;
}

#bs-apps li {
	zoom:1;
	height:32px;
	margin:0;
	padding:0;
	float: left;
}

#bs-apps li a {
	zoom:1;
	display:block;
	height:32px;
	text-align:center;
	font-size:12px;
	vertical-align:bottom;
	font-weight:700;
	color:#b4b3b3;
	text-decoration:none;
	line-height:32px;
	padding:0 10px;
}

#bs-apps li a.active,#bs-apps li a:hover {
	color:#717171;
	/*@embed*/
	background:url(images/desktop/appsbar-active.png) no-repeat center top;
}

#bs-apps ul,#footer-places,#bs-skyscraper,#bs-left-column-top {
	margin:0;
}
#bs-apps ul.bs-apps-child li a{
	display:block;
	color: white;
	text-decoration:none;
	vertical-align:middle;
}
#bs-apps ul.bs-apps-child li{
	background: none #BABABA repeat-y;
}

#bs-apps ul.bs-apps-child li a:hover{
	background-color:#B1B1B1;
	background-image: none;
}
#bs-apps ul.bs-apps-child{
	background: none transparent;
	border: none;
}

#bs-beforearticlecontent {
	border-top:3px solid #3e5389;
	background-color:#EEE;
}

#bs-button-logout, #bs-button-logout-open {
	cursor:pointer;
	float:right;
	margin:8px 15px 0 0;
}
#bs-button-logout a, #bs-button-logout-open a {
	margin-top:3px;
}

#bs-button-logout a,#bs-button-user a, #bs-button-logout-open a,#bs-button-user-open a{
	margin-left:19px;
	font-family:'Source Sans Pro', sans-serif;
	color:#fff;
	font-size:10px;
}

#bs-personal-menu-open li a{
	font-size: 12px;
	font-weight: normal;
	font-family: 'Muli';
}


#pt-notifications {
	position: static;
}

#bs-button-logout span, #bs-button-logout-open span {
	margin-top:3px;
	margin-bottom:4px;
}

#bs-button-user, #bs-button-user-open {
	cursor:pointer;
	float:right;
	margin:10px 15px 0 0;
}

#bs-button-user,#bs-button-logout, #bs-button-user-open,#bs-button-logout-open {
	width:55px;
	height:40px!important;
	background-color:#BABABA;
	cursor:default;
	margin:0;
}

#bs-button-logout-open, #bs-button-logout{
	margin-right: 13px;
}

#bs-button-user-open,#bs-button-logout-open{
	background-color: transparent;
}

#bs-content-column {
	overflow:hidden;
	background-color:transparent;
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin:0 0 0 200px;
	padding:0;
}

#bs-extendedsearch-autocomplete {
	width:350px!important;
}

#bs-flyout {
	width:auto;
	float:right;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	display:block;
	margin:10px 0 0 -50px;
}

#bs-left-column {
	left:0;
	position:relative;
	float:left;
	background:none;
	width:170px;
	overflow:hidden;
	margin:20px 0 0;
	padding:0;
}

#bs-left-column #bs-nav-sections #bs-nav-section-navigation .bs-nav-links ul li {
	clear:both;
	width: auto;
	overflow:hidden;
	padding: 0px;
}

#bs-left-column #bs-nav-sections #bs-nav-section-navigation .bs-nav-links ul li a,#bs-left-column #bs-nav-sections .bs-nav-links ul li a,#bs-left-column #bs-nav-sections .bs-nav-links ul li em {
	max-width:118px;
	overflow:hidden;
	font-size:12px;
	font-family:'Muli', sans-serif;
	padding:8px 0!important;
}
#bs-nav-section-navigation > div > ul > li{
	padding: 0;
}
#bs-left-column #bs-nav-sections .bs-nav-links ul li a{
	padding: 0 !important;
}

#bs-left-column #bs-nav-sections .bs-nav-links ul li {
	list-style:none;
	line-height:1.4em;
	padding:5px 0;
}

#bs-left-column #bs-nav-sections .bs-nav-links ul li a,#bs-left-column #bs-nav-sections .bs-nav-links ul li .selflink {
	color:#3F527F;
	text-decoration:none;
}

#bs-left-column #bs-nav-sections .bs-nav-links ul li a.new {
	color:#ba0000;
}

#bs-left-column #bs-nav-sections .bs-nav-links ul li a:hover {
	color:#0A1E4F;
	text-decoration:none;
}

#bs-left-column #bs-nav-tabs {
	text-align:left;
	border:none;
	width:170px;
	background:none;
	margin:0;
	padding:0;
	background: none transparent !important;
}

#bs-left-column #bs-nav-tabs li {
	font-size:11px;
	list-style:none;
	display:inline;
	color:#aec8e8;
	cursor:pointer;
	margin:0;
	padding:0 3px;
}

#bs-left-column #bs-nav-tabs li a {
	font-family:'Source Sans Pro', sans-serif;
	font-size:12px;
	color:#000;
	text-transform: uppercase;
}

#bs-left-column #bs-nav-tabs li a:hover {
	color:#3F527F;
	text-decoration:none;
	cursor:pointer!important;
	/*@embed*/
	background:url(images/desktop/navi-header-active.png) no-repeat center top;
	display:inline-block;
	line-height:28px;
}

#bs-left-column #bs-nav-tabs li.ui-state-active a,#bs-left-column #bs-nav-tabs li a,#bs-left-column #bs-nav-tabs li a:visited {
	color:#AEC8E8;
	cursor:pointer;
}

#bs-left-column #bs-nav-tabs li.ui-tabs-selected a {
	text-decoration:none;
	cursor:default!important;
	display:inline-block;
	line-height:28px;
	/*@embed*/
	background:url(images/desktop/navi-header-active.png) no-repeat center top;
	color:#98a7c4;
}

#bs-left-column #bs-nav-tabs li:first-child {
	padding-left:9px;
}

#bs-left-column .ui-corner-all {
	background: none rgb(205, 223, 242);
	background: none rgba(205, 223, 242, 0.6)!important;
	margin:0;
}

#bs-left-column .ui-corner-left,#bs-left-column .ui-corner-right,#bs-left-column .ui-corner-all {
	border:none!important;
}

#bs-left-column .ui-state-default,#bs-left-column .ui-widget-content .ui-state-default,#bs-left-column .ui-widget-header .ui-state-default {
	background:none!important;
	border:none!important;
}

#bs-left-column .ui-tabs .ui-tabs-nav li {
	border-bottom-color:0!important;
	border-bottom-style:none!important;
	border-bottom-width:0!important;
	float:none!important;
	top:0!important;
}

#bs-left-column .ui-tabs .ui-tabs-panel {
	background:none!important;
	border:none!important;
	padding:0 0 10px!important;
}

#bs-left-column .ui-widget-header {
	font-weight:400!important;
}

#bs-left-column li.ui-state-active a,#bs-left-column li a,#bs-left-column li a:visited.ui-tabs .ui-tabs-nav li a {
	float:none!important;
	text-decoration:none;
	padding:0!important;
}
#bs-nav-small > ul > li > a{
	display: inline-block;
	clear: both;
}

#bs-left-resize-btn {
	width:42px;
	height:30px;
	cursor:pointer;
	/*@embed*/
	
	background:url(images/desktop/navi-collapse-btn.png) no-repeat;
	margin:0 auto;
}

#bs-left-resize-btn.narrowed{
	background-image: url(images/desktop/navi-expand-btn.png);
}

#bs-left-resize-btn.extended{
	background-image: url(images/desktop/navi-collapse-btn.png);
}
#bs-left-resize-container {
	/*@embed*/
	background-color: #98a7c4;
	height:30px;
	padding:10px;
}

#bs-logo {
	margin-bottom:10px;
	float:left;
	width:165px;
	margin-top:15px;
}

#bs-logo a span {
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	min-height:100px;
	background-position:center left;
}

#bs-menu-top {
	color:#EFF1F7;
	width:1200px;
	float:left;
	margin:0;
	padding:0;
	min-height: 100px;
}

#bs-menu-top-left {
	float:left;
	height:32px;
	margin-left:25px;
	text-decoration:none;
	cursor:default!important;
	line-height:28px;
	color:#5f9dd9;
	max-width: 62%;
}

#bs-menu-top-left > div,#bs-menu-top-right > div {
	display:inline-block;
	height:40px;
}

#bs-menu-top-right {
	float:right;
	height:32px;
	width:260px;
}

#bs-menu-top-right #bs-search-right {
	width:0;
	position:absolute;
	left:365px;
	top:9px;
}
input#bs-search-fulltext {
	/*@embed*/
	background: url('images/desktop/search--btn.png') 8px 35px no-repeat!important;
	position:absolute;
	width:33px;
	height:28px;
	margin-left: 334px;
	border: 0px;
}

#bs-menu-top-right > div {
	float:right;
	margin:0;
}

#bs-namespacemanager-grid img,#bs-groupmanager-grid img,#UserManagerGrid img,#PageTemplatesAdminGrid img {
	margin-left:-1px;
}

#bs-nav-section-focus div.bs-widget-head {
	font-size:18px;
	color:#000;
	font-family:Muli, sans-serif;
	background-color:transparent;
}

#bs-nav-section-navigation img,#bs-left-column #bs-nav-sections #bs-nav-section-navigation .bs-nav-links ul li a {
	float:left!important;
	padding: 4px 4px 4px 0;
}

#bs-nav-sections {
	font-family:sans-serif;
	margin:10px 0 0;
	padding:0;
}

#bs-nav-sections #bs-nav-section-navigation h5,#bs-nav-sections .bs-widget-head h5 {
	background:none;
	text-transform:uppercase;
	font-size:14px;
	font-family:Muli, sans-serif;
	color:#000;
	font-weight:400;
}

#bs-nav-sections #bs-nav-small {
	display:none;
	width:32px;
	margin:0 auto;
}
#bs-nav-small > ul{
	margin: 0 0 0 5px;
}
#bs-nav-sections .bs-nav-links ul {
	font-size:11px;
	margin:0 10px;
	padding:0;
}

#bs-nav-sections div {
	display:block;
}

#bs-nav-sections h5 {
	font-size:11px;
	font-weight:700;
	color:#aec8e8;
	/*@embed*/
	background:url(images/desktop/bs-left-nav-heading-underline.png) no-repeat center bottom;
	margin: 16px 10px 4px 10px;
	padding:0;
}
#bs-button-user-img{
	margin-top: 4px;
	width:19px;
	height:16px;
}
#bs-personal-menu, #bs-personal-menu-open {
	display:none;
	position:absolute;
	width:243px;
	text-align:left;
	height:auto;
	z-index:1000;
	border-top:none;
	margin:2px 0 0 -40px;
	padding:0 5px;
	background: none;
}
#bs-personal-menu-open li{
	/*@embed*/
	background: url(images/desktop/userbar-dropdown-horiz-bg.png) transparent repeat-y;
	margin-bottom: 0;
}
#bs-personal-menu-open li.bs-bottom-box{
	width: 243px;
	height: 15px;
	/*@embed*/
	background: url(images/desktop/userbar-dropdown-end-bg.png) transparent no-repeat;
}
#bs-personal-menu-open{
	display: block;
	margin: 8px 0 0 -125px;
	margin-top: 10px \0/;
}
#bs-menu-top-right > #bs-user-container-open{
	display: none;
}

#bs-personal-menu li a, #bs-personal-menu-open li a {
	display:block;
	color:#3E5389;
	text-decoration:none;
	vertical-align:middle;
	padding:5px 19px 5px 20px;
}
#bs-personal-menu-open li a{
	color: white;
	margin-left: 13px;
	width: 178px;
}

#bs-personal-menu li a:hover, #bs-personal-menu-open li a:hover {
	background-color:#B1B1B1;
}

#bs-sb-message {
	width: 97.7%;
	padding: 10px;
}

#bs-search-dropdown {
	float:right;
	cursor:pointer;
}

#bs-search-input {
	background-color:#FFF;
	line-height:18px;
	border:0 none;
	float:right;
	font-size:11px;
	width:333px;
	/*@embed*/
	background:url(images/desktop/search-field.png) no-repeat center center;
	height:28px;
	margin:0;
	padding:0 30px 0 15px;
}


#bs-skin-username {
	margin-right:6px;
	font-weight:700;
	float:right;
}

#bs-skin-username a,#bs-skin-username a:visited {
	display:inline-block;
	margin-top:9px;
	text-decoration:none;
	color:#3E5389;
}

#bs-skin-username:hover,#bs-skin-username.active {
	/*@embed*/
	background:url(images/desktop/bs-app-shine.png) no-repeat scroll center top transparent;
}

#bs-skyscraper img {
	margin-left:40px;
}

#bs-title-actions a {
	width:25px;
	height:20px;
	display:block;
}

#bs-title-actions li {
	list-style:none;
	float:right;
}

#bs-tools {
	float:right;
	max-width:1028px;
}

#bs-tools-btn {
	float:right;
	width:50px;
	height:46px;
	cursor: pointer;
	margin-top: 1px;
}
#bs-tools-btn span {
	display:block;
	font-size:10px;
	text-align: center;
}
#bs-tools ul{
	margin: 0;
}
#bs-tools-container {
	width:1028px;
	margin-left:-955px;
	z-index:100;
	position:absolute;
	margin-top: 46px;
	visibility: hidden;
	/*background: url(images/desktop/tools-horiz-schatten.png) repeat-y 0 0;*/
}

#bs-tools-img {
	width:18px;
	height:18px;
	/*@embed*/
	background:url(images/desktop/statusbar-btn-more.png) no-repeat 0 0 transparent;
	margin:9px 0 0 15px;
}

#bs-tools-more {
	float: left;
	width: 19.876%;
	height: 100%;
	background-color: white;
	margin-top: 10px;
}

#bs-tools-widgets {
	float:left;
	width:97.4%;
	margin-left: 14px;
	border-left: 1px solid #3E5389;
	background-color: white;
	min-height: 175px;
}

#bs-tools-widgets-headline {
	border-right:1px solid #FFF;
}

#bs-top-gradient {
	height:15px;
	position:absolute;
	top:32px;
	width:100%;
	left:0;
	/*@embed*/
	background:url(images/desktop/bs-top-gradient.png) repeat-x center top;
}
.bs-tools-widgets-column em, .bs-tools-widgets-column strong{
	font-size: 12px;
	color: #3E5389;
}
#bs-buttons-container{
	float:right;
	height: 45px;
	margin-top: -10px;
	font-family: 'Source Sans Pro', sans-serif;
}
#bs-user-container span, #bs-user-container-open span, #bs-button-logout span{
	text-align:center;
	display:block;
	font-family:'Source Sans Pro', sans-serif;
	color:#fff;
	font-size:10px;
	line-height:8px;
	margin:5px 0 0 0;
	padding:0 2px;
}

#bs-user-container-open{
	width: 243px;
	height: 40px !important;
	/*@embed*/
	background: url(images/desktop/userbar-dropdown-horiz-bg.png) repeat-y transparent;
	margin-top: -40px !important;
	display: none;
}

#bs-widget-container {
	float:right;
	width:50px;
	background:none;
	height:30px;
	margin-top:-5px;
	display:block;
}

#bs-wrapper {
	min-width:980px;
	width:1200px;
	float:none;
	margin:0 auto;
}

#ca-more-menu {
	margin: 0;
}

#ca-more-menu a:hover{
	text-decoration: none;
}

#ca-watch {
	float:right;
	text-transform: uppercase;
}
li#ca-watch{
	margin-top: auto !important;
}
li#ca-unwatch{
	text-transform: capitalize;
}
#ca-watch.icon a{
	width: auto;
	height: 16px;
}

#ca-watch.icon a,#ca-watch.icon a:hover {
	display:block;
	font-size:10px;
	/*@embed*/
	background:url(images/desktop/statusbar-btn-follow.png) no-repeat center 8px transparent;
	margin:9px auto 0;
	margin-left: 0;
	margin-top: 0;
	padding: 28px 0 0 0;
	background-position: center 9px;
	text-indent: 0;
	text-decoration: none;
	color: #000;
	font-family: 'Source Sans Pro',sans-serif;
}

#ca-watch.icon a.watched, #ca-watch.icon a:hover{
	/*@embed*/
	background:url(images/desktop/bs-statebar-btn-follow-on.png) no-repeat center 8px transparent;
}

#catlinks {
	border:1px solid #aaa;
	background-color:#f9f9f9;
	margin-top:1em;
	clear:both;
	padding:5px;
}

#content {
	background-color:#FFF;
	border-top:none;
	margin:-1px 0 0;
	padding:0 ;
}

#contentSub,#contentSub2 {
	background-color:#f7f7f7;
	color:#7D7D7D;
	font-size:84%;
	line-height:1.2em;
	width:auto;
	margin:2px 0 1.4em!important;
}

#f-links #lastmod {
	visibility:hidden;
	float:left;
	font-size:10px;
	color:#aaa;
	margin:8px 15px 0 0;
}

#f-links #viewcount {
	float:left;
	font-size:10px;
	color:#aaa;
	margin:8px 15px 0 0;
}

#filetoc li {
	display:inline;
	list-style-type:none;
	padding-right:2em;
}

#footer {
	overflow:hidden;
	border-top:1px solid #989898;
	background-color:#BABABA;
	margin:20px 0 5px 200px;
	padding:5px 0 0;
}

#footer #footer-icons {
	padding-bottom:30px;
}

#footer a,#footer a:hover {
	color:#FFF;
	text-decoration:none;
}

#footer img {
	border:none;
	margin-left:10px;
	margin-bottom:5px;
}

#footer ul {
	font-size:.8em;
	float:left;
	margin-left:0;
	width:100%;
	color:#FFF;
	text-decoration:none;
	padding:15px 0 0 15px;
}

#footer-icons {
	margin-right:0;
	float:left!important;
	text-align:left;
}

#footer-info-viewcount {
	color:#b4b3b3;
	font-size:10px;
}
#footer-info{
	margin: 0;
	padding: 15px;
}

#footer-places li {
	float:left;
	margin-left:10px;
}

#footer-places ul li,#footer-places ul li a,ul#footer-places {
	display:inline;
	margin-right:8px;
}

#hw_messagebox {
	z-index:9999;
}

#hw_tooltip {
	font-size:12px;
	background:#9cbbbd;
}

#hw_tooltip_body {
	color:#676767;
	padding:0 5px 5px;
}

#hw_tooltip_content {
	position:relative;
	left:-3px;
	top:-3px;
	border:1px solid #c7c7c7;
	background:#eee;
}

#hw_tooltip_title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background:#c7c7c7;
	text-align:center;
	color:#eee;
	padding-left:3px;
	padding-right:3px;
}

#login-sectiontip {
	font-size:85%;
	line-height:1.2;
	padding-top:2em;
}

#mw-read-only-warning, #mw-missingsummary {
	border:2px solid #8B0000;
	background:#FFAE00;
	margin:0 0 5px;
	padding:5px;
}

#mw_trackbacks {
	border:solid 1px #bbf;
	background-color:#eef;
	padding:.2em;
}

#p-cactions li a {
	text-decoration:none;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-size:1em;
	color:#b4b3b3;
}

#p-cactions li.selected a {
	color:#3e5389;
}

#p-cactions ul {
	text-align:right;
	height:20px;
	margin:0 -1px 0 0;
	padding:0;
}

#p-cactions-list #ca-history {
	padding-right:0;
}

#p-cactions-list li {
	border-right:1px solid #3E5389;
	list-style:none;
	font-size:11px;
	float:left;
	zoom:1;
	display:inline;
	line-height:11px;
	/*@embed*/
	background:url(images/desktop/bs-top-tab-gradient.png) repeat-x center bottom;
	height:16px;
	text-transform:uppercase;
	font-weight:700;
	margin:0 0 0 -1px;
	padding:0 12px 4px;
	vertical-align: top;
}

#p-cactions-list li.selected {
	background:#FFF;
}

#p-cactions-list li.selected,#p-cactions-list li {
	border-left:none;
	border-right:none;
	background:none transparent;
}
#p-cactions-list-more{
	position: absolute !important;
	margin-left: -115px !important;
	max-width: 162px !important;
	background-color: #EEEEEE;
	height: auto !important;
	margin-top: 8px !important;
	padding-top: 5px !important;
	display: none;
}
#ca-more-top{
	cursor: pointer;
}
#ca-more-top > span{
	text-decoration: none;
	font-family: 'Muli',sans-serif;
	font-size: 1em;
	color: #b4b3b3;
}
#p-cactions-list-more > li{
	margin-top: 10px;
}
#p-cactions-list-more li a{
	float: left;
	text-align: left;
	color: #3e5389;
}
#pagehistory li {
	border:1px solid #FFF;
}

#pagehistory li.selected {
	background-color:#f9f9f9;
	border:1px dashed #aaa;
	position:relative;
}

#pagehistory span.minor,#userloginlink a,#wpLoginattempt,#wpCreateaccount,span.newpage,span.minor,span.bot,table.gallery caption,table.mw_metadata caption,#wpSummaryLabel,#wpSave,td.diff-lineno {
	font-weight:700;
}

#pagehistory span.user {
	margin-left:1.4em;
	margin-right:.4em;
}

#prefcontrol,.bs-exception-stacktrace,form#powersearch,#bs-statebar:first-child,#bs-statebar-view {
	clear:both;
}

#preferences {
	border:1px solid #aaa;
	clear:both;
	background-color:#F9F9F9;
	margin:0;
	padding:1.5em;
}

#preftoc {
	width:100%;
	clear:both;
	margin:0;
	padding:0;
}

#preftoc > li.selected {
	top:2px;
}

#preftoc a,#preftoc a:active {
	display:block;
	color:#000;
	position:relative;
	text-decoration:none;
	padding:0 .7em;
}

#preftoc li {
	background-color:#f0f0f0;
	color:#000;
	float:left;
	border:1px solid #fff;
	border-right-color:#716f64;
	border-bottom:0;
	position:relative;
	white-space:nowrap;
	list-style-type:none;
	list-style-image:none;
	z-index:3;
	margin:1px -2px 1px 2px;
	padding:2px 0 3px;
}

#preftoc li.selected {
	font-weight:700;
	background-color:#f9f9f9;
	border:1px solid #aaa;
	border-bottom:none;
	cursor:default;
	top:1px;
	padding-top:2px;
	margin-right:-3px;
}

#preftoc li.selected a {
	cursor:default;
	text-decoration:none;
}

#siteNotice {
	text-align:center;
	font-size:95%;
	padding:0 .9em;
}

#siteNotice p,.previewnote p {
	margin:0;
	padding:0;
}

#siteSub,#jump-to-nav,.hiddenStructure,.mainLegend,.printfooter,table.collapsed 
tr.collapsable,tr.sv-space td,#p-cactions li.ca-divider,.invisible,
#bs-search-button-hidden,#bs-nav-sections div.ui-tabs-hide,#bs-nav-sections 
#p-Navigation h5,#bs-left-column #bs-nav-sections #p-navigation h5,
#p-cactions h5,#bs-widget-tab,#ca-more {
	display:none;
}

#sv-ext td,#sv-hooks td,#sv-ext th,#sv-hooks th {
	border:1px solid #A0A0A0;
	padding:0 .15em;
}

#sv-ext th,#sv-hooks th {
	background-color:#F0F0F0;
	color:#000;
	padding:0 .15em;
}

#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle,table.multipageimage td,td.diff-otitle,td.diff-ntitle {
	text-align:center;
}

#toc h2,.toc h2 {
	display:inline;
	border:none;
	font-size:100%;
	font-weight:700;
	padding:0;
}

#toc ul ul,.toc ul ul {
	margin:0 0 0 2em;
}

#toc ul,.toc ul {
	list-style-type:none;
	list-style-image:none;
	margin-left:0;
	padding-left:0;
	text-align:left;
}

#toc,.toc,.mw-warning {
	border:1px solid #aaa;
	background-color:#f9f9f9;
	font-size:95%;
	padding:5px;
}

#toolbar {
	float:none;
	clear:both;
}

#userlogin .loginText,#userlogin .loginPassword {
	width:12em!important;
}

#userloginForm input,#userlogin .loginText,#userlogin2 input{
	margin:0!important;
}

#content form input.loginPassword ,#content form input.loginText{
	width: 100%;
}

#userloginForm td,#userlogin2 td {
	padding-right:6px;
}

#userloginprompt,#languagelinks {
	font-size:85%;
}

#wpTextbox1 {
	line-height:1.3;
	margin:5px 0;
}

* > html #bodyContent,* > html #bodyContent pre {
	overflow-x:auto;
	width:100%;
	padding-bottom:25px;
}

* > html #column-content {
	float:none;
}

* > html #column-one {
	position:absolute;
	left:0;
	top:0;
}

* > html #f-poweredbyico,* > html #f-copyrightico {
	width:88px;
}

* > html #footer {
	margin-left:13.2em;
}

* > html #p-cactions li {
	border:none;
}

* > html #p-cactions li a {
	border:1px solid #aaa;
	border-bottom:none;
}

* > html #p-cactions li.selected a {
	border-color:#fabd23;
}

* html #bs-content-column {
	height:450px;
	overflow:visible;
}

* html #column-content {
	display:inline;
	margin-bottom:0;
}

* html #footer,#bs-nav-section-focus div.bs-widget {
	margin-top:0;
}

* html div.editsection {
	font-size:smaller;
}

.MediaTransformError {
	background-color:#ccc;
	padding:.1em;
}

.MediaTransformError td {
	text-align:center;
	vertical-align:middle;
	font-size:90%;
}

.TablePager {
	border-collapse:collapse;
}

.TablePager th,.TablePager tr:hover td,.imagelist .TablePager_col_links {
	background-color:#eef;
}

.TablePager,.TablePager td,.TablePager th {
	border:1px solid #aaa;
	padding:0 .15em;
}

.TablePager_nav a{
	text-decoration:none;
}

.autocomment {
	color:gray;
}

.bluebox {
	border:1px solid #aec8e8;
	rules:none;
	empty-cells:show;
	margin:1em 0;
	padding:3px;
}

.box-beige {
	border:1px solid #000;
	background-color:#E0B978;
	margin:0 0 10px;
	padding:.3em .6em 0;
}

.box-green {
	border:1px solid #237E14;
	background-color:#DEFEBB;
	margin:0 0 10px;
	padding:.3em .6em 0;
}

.bs-admin-label {
	font:Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
}

.bs-admincontrolbtn {
	float:left;
	margin-bottom:5px;
	margin-right:5px;
	text-align:center;
}

.bs-admincontrolbtn a {
	border:1px solid #F0F0F0;
	color:#C9D6DE;
	display:block;
	float:left;
	height:90px;
	text-decoration:none;
	vertical-align:middle;
	width:160px;
}

.bs-admincontrolbtn a:hover {
	background:#F9F9F9 none repeat scroll 0 0;
	color:#0B55C4;
	border-color:#EEE #CCC #CCC #EEE;
	border-style:solid;
	border-width:1px;
}

.bs-exception {
	border:1px solid #FFAE00;
	padding:5px;
}

.bs-exception-message {
	font-variant:italic;
	background-color:#F1F5FA;
	padding:10px;
}

.bs-exception-stacktrace-toggle {
	cursor:pointer;
	color:#A5B1BF;
}

.bs-highlighted-cell {
	background-color:#FFEFCC;
}

.bs-highlighted-row {
	background-color:#DEE5F2;
}

.bs-prefs-body .mw-input input {
	margin:2px 0;
}

.bs-prefs-head {
	/*@embed*/
	background:url(images/desktop/bs-moremenu-more.png) no-repeat scroll 97% 4px transparent;
	cursor:pointer;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.bs-prefs-viewstate-collapsed .bs-prefs-head {
	/*@embed*/
	background:url(images/desktop/bs-moremenu-less.png) no-repeat scroll 97% 4px transparent;
	cursor:pointer;
	background-color:#fff;
}

.bs-sb {
	width:auto;
	padding:15px;
}

.bs-sb-listitem {
	width:100%;
}

.bs-sb-message {
	width:94%;
}

.bs-sb-archive{
	width: 15px;
}
.bs-sb legend{
	color: #3E5389 !important;
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.bs-tools-headline {
	font-family:Muli, sans-serif;
	font-size:13px;
	color:#fff;
}

.bs-tooltip {
	background-color:#EFF3F9;
	border:1px solid #AEC8E8;
	position:absolute;
	display:none;
}

.bs-tooltip a {
	font-size:.85em;
	border-bottom:1px solid #AEC8E8;
}

.bs-tooltip a,.bs-tooltip ul li a:hover {
	font-size:.85em;
	margin-right:10px;
	display:block;
	vertical-align:middle;
	text-align:center;
	padding:2px 10px;
}

.bs-tooltip ul {
	line-height:1.1em;
	margin:0!important;
}

.bs-tooltip ul li {
	list-style:none;
	list-style-position:inside;
}

.bs-tooltip ul li a:hover {
	background-color:#fbfdfe;
	text-decoration:none;
}

.bs-tooltip.in {
	display:block!important;
}

.bs-top-box {
	background-color: #9D9D9D;
	text-align: center;
}
.bs-top-box div{
	width: 217px;
	margin-left: 13px;
	background-color: #9D9D9D;
}
.bs-user-label {
	margin-top:8px;
}

.bs-userpagesettings-item {
	margin-bottom:5px;
	margin-right:5px;
	text-align:center;
	float:left;
	background-color:#F8F8F8;
	border:1px solid #DDD;
	padding:10px;
}

.bs-userpagesettings-item a {
	color:#AEC8E8;
	display:block;
	height:108px;
	width:108px;
	text-decoration:none;
	vertical-align:middle;
	font-size:11px;
	line-height:1.2em;
}

.bs-userpagesettings-item a:hover {
	text-decoration:none;
	color:#3F527F;
}

.bs-userpagesettings-item:hover,
.bs-zebra-table-row-even,
fieldset#bluespice > div > fieldset fieldset,
table.diff,
td.diff-otitle,
td.diff-ntitle {
	background-color:#FFF;
}

.bs-wantedarticle-container {
	margin-top:16px;
	padding-top:14px;
	/*@embed*/
	background:url(images/desktop/bs-left-nav-seperator-line.png) no-repeat scroll center top transparent;
}

.bs-who-heading {
	background-color:#AEC8E8;
	color:#EFF3F9;
	font-weight:700;
	display:block;
	text-align:center;
}

.bs-widget-body li,#ca-more-menu li {
	padding:0 17px;
}

.bs-widget-body li:hover,#ca-more-menu li:hover {
	background-color:#eee;
}
#bs-nav-section-focus .bs-widget-body li:hover{
	background-color: transparent;
}

.bs-widget-head {
	cursor:default;
	background-image:none;
	background-color:rgba(205, 223, 242, 0.6);
	width:89.5%;
	padding:3px 10px 1px 10px;
}

.bs-widget-title {
	font-family:Muli, sans-serif;
	font-size:12px;
	color:#3E5389;
	padding:0;
	font-weight:normal;
}

.bs-zebra-table-row-odd {
	background-color:#F2F5FA;
}

.bsErrorFieldset {
	border:1px solid red;
}

.bsTagDefaultMessage {
	color:#555;
	font-style:italic;
}

.bsTagError {
	color:#555;
}

.btn44 {
	height:44px!important;
	width:44px!important;
}

.btnSavePrefs {
	font-weight:700;
	padding-left:.3em;
	padding-right:.3em;
}

.center {
	width:100%;
	text-align:center;
}

.center * {
	margin-left:auto;
	margin-right:auto;
}

.clearfix,.clearfixItems li {
	zoom:1;
}

.clearfix:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
}

.clearfix:after,.clearfixItems li:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.contenttable {
	width:100%;
	border:1px #ccc solid;
	border-spacing:0;
	border-collapse:collapse;
}

.contenttable td,.contenttable tr {
	border:1px #ccc solid;
	border-spacing:0;
	border-collapse:collapse;
	padding:4px;
}

.contenttable th {
	background-color:#E0E0E0;
	border:1px solid #CCC;
	padding:4px;
}

.contenttable-black {
	width:100%;
	border:1px #000 solid;
	border-spacing:0;
	border-collapse:collapse;
}

.contenttable-black td,.contenttable-black tr {
	border:1px #000 solid;
	border-spacing:0;
	border-collapse:collapse;
	padding:4px;
}

.contenttable-black th {
	background-color:#E0E0E0;
	border:1px solid #000;
	padding:4px;
}

.contenttable-blue td,.contenttable-blue tr,.contenttable-darkblue td,.contenttable-darkblue tr {
	border:1px #B1B9CF solid;
	border-spacing:0;
	border-collapse:collapse;
	padding:4px;
}

.contenttable-blue th {
	background-color:#EFF3F9;
	border:1px solid #B1B9CF;
	color:#3E5389;
	padding:4px;
}

.contenttable-blue,.contenttable-darkblue {
	width:100%;
	border:1px #B1B9CF solid;
	border-spacing:0;
	border-collapse:collapse;
}

.contenttable-darkblue th {
	background-color:#3E5389;
	border:1px solid #B1B9CF;
	color:#FFF;
	padding:4px;
}

.diffchange {
	color:red;
	font-weight:700;
	text-decoration:none;
	white-space:0;
}

.documentByLine {
	text-align:right;
	font-size:90%;
	clear:both;
	font-weight:400;
	color:#76797c;
}

.documentDescription {
	font-weight:700;
	display:block;
	line-height:1.5em;
	margin:1em 0;
}

.editButtons {
	margin-top:12px!important;
}

.editExternally {
	border:1px solid gray;
	background-color:#fff;
	margin-top:.5em;
	float:left;
	font-size:small;
	text-align:center;
	padding:3px;
}

.editExternallyHelp {
	font-style:italic;
	color:gray;
}

.error {
	color:red;
	font-size:larger;
}

.errorbox {
	background-color:#fff2f2;
	border-color:red;
}

.errorbox h2,.successbox h2 {
	font-size:1em;
	font-weight:700;
	display:inline;
	border:none;
	margin:0 .5em 0 0;
}

.errorbox,.successbox {
	font-size:larger;
	border:2px solid;
	float:left;
	margin-bottom:2em;
	color:#000;
	padding:.5em 1em;
}

.hw-adminbtn {
	border:none;
	margin:2px 1px 2px 0;
}

.hw-oddrow {
	background-color:#F2F6F9;
}

.hw-oddrow td,.hw-evenrow td {
	vertical-align:middle;
	padding:0 4px;
}

.hw-th {
	background-color:#C9D6DE;
	color:#FFF;
}

.hw-th th {
	font-weight:700;
	padding:4px;
}

.imagelist .TablePager_col_img_description {
	white-space:normal;
}

.imagelist td,.imagelist th {
	white-space:nowrap;
}

.imagelist th.TablePager_sort {
	background-color:#ccf;
}

.left,#f-links,.bs-statebar-top-item {
	float:left;
}

.multiselectsort {
	display:none!important;
}

.multiselectsortlist {
	border:1px solid #8393C3!important;
	list-style-type:none!important;
	list-style-image:none!important;
	padding:1px!important;
}

.multiselectsortlistitem {
	cursor:move;
	border:1px solid #8393C3!important;
	width:266px!important;
	background-color:#EFF4FF;
	margin:5px!important;
	padding:1px 5px;
}

.mw-plusminus-neg {
	color:#8b0000;
}

.mw-plusminus-null {
	color:#aaa;
}

.mw-plusminus-pos {
	color:#006400;
}

.mw-summary-preview {
	margin:.1em 0;
}

.mw-warning {
	margin-left:50px;
	margin-right:50px;
	text-align:center;
}

.no-pointer {
	cursor:default;
}

.not-patrolled {
	background-color:#ffa;
}

.prefcache {
	font-size:90%;
	margin-top:2em;
}

.preferences-login {
	clear:both;
	margin-bottom:1.5em;
}

.prefsection {
	border:none;
	margin:0;
	padding:0;
}

.prefsection .bs-prefs-body .bs-prefs-body fieldset,
.prefsection .bs-prefs-body .bs-prefs-body table,
.prefsection .bs-prefs-body .bs-prefs-body head,
.prefsection .bs-prefs-body head,
.prefsection .bs-prefs-body 
.bs-prefs-body legend,
.TablePager td,
.hw-evenrow {
	background-color:#fff;
}

.prefsection fieldset {
	margin-right:2em;
}

.prefsection legend {
	font-weight:700;
	min-width:150px;
	background-color:#fff;
	padding:0 20px 0 6px;
}

.prefsection table,.prefsection legend {
	background-color:#F9F9F9;
}

.previewnote {
	text-indent:3em;
	color:#c00;
	border-bottom:1px solid #aaa;
	padding-bottom:1em;
	margin-bottom:1em;
}

.redirectText {
	font-size:150%;
	margin:5px;
}

.right,#bs-title-actions {
	float:right;
}

.sep44 {
	/*@embed*/
	background-image:url(images/desktop/bs-um_separator.png)!important;
}

.small,.small *,#toc .toctoggle,.toc .toctoggle {
	font-size:94%;
}

.softwaretable {
	border-top:3px solid #e9e9e9;
	border-bottom:3px solid #e9e9e9;
	background:#F3F3F3;
	width:100%;
	padding:8px 4px;
	text-align: center;
}

.special li {
	line-height:1.4em;
	margin:0;
	padding:0;
}

.successbox {
	background-color:#dfd;
	border-color:green;
}

.templatesUsed {
	margin-top:1.5em;
}

.toggle {
	margin-left:2em;
	text-indent:-2em;
}

.usermessage {
	background-color:#ffce7b;
	border:1px solid orange;
	color:#000;
	font-weight:700;
	vertical-align:middle;
	margin:2em 0 1em;
	padding:.5em 1em;
}

::selection,::-moz-selection,::-webkit-selection {
	background:#FFAE00;
}

abbr,acronym,.explain {
	border-bottom:1px dotted #000;
	color:#000;
	background:none;
	cursor:help;
}

/* MediaWiki default from vector/screen.css, altered to use 'Source Sans Pro' */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}
/* END MediaWiki default */

body {
	color:#444;
	/*@embed*/
	font:0.8em Arial, Verdana, Geneva, sans-serif;
	width:100%;
	height:100%;
	/*@embed*/
	background:url(images/desktop/bg-lo.png) no-repeat scroll center top #F4F4F4 !important;
	border-top:3px solid #BABABA;
	margin:0;
	padding:0 0 20px;
}

boxes-right h2,.box-bg-wide h2 {
	color:#5A97D1;
	text-transform:uppercase;
	font-size:12px;
	/*@embed*/
	background:url(images/desktop/star.png) 0 6px no-repeat;
	text-indent:20px;
	text-decoration:none;
	border:none;
	line-height:16px;
}

code,div#userloginForm table,div#userlogin form#userlogin2 table {
	background-color:#f9f9f9;
}

div .box-bg {
	/*@embed*/
	background-image:url(images/desktop/mainpage-box-bg.png);
	width:216px;
	height:138px;
	margin-top:20px;
	color:#444;
	padding:8px 10px;
}

div .box-bg-wide {
	/*@embed*/
	background-image:url(images/desktop/mainpage-box-bg-wide.png);
	width:736px;
	height:138px;
	margin-top:20px;
	color:#444;
	padding:8px 10px;
}

div#bs-searchbar {
	background-color:#FFF;
	
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAJUlEQVQIHQXBsQEAAAjDoND/73UWdnerhmHVsDQZJrNWVg3Dqge6bgMe6bejNAAAAABJRU5ErkJggg==");
	background-position:left top;
	background-repeat:repeat-x;
	height:28px;
	float:right;
	background:none transparent;
	border:none;
	width:370px;
	margin-top:25px;
	padding:0;
}

div#mw-js-message {
	border:solid 1px #ddd;
	background-color:#fcfcfc;
	margin:1em 5%;
	padding:.5em 2.5%;
}

div#mw-recreate-deleted-warn {
	margin-bottom:3px;
	border:2px solid #2F6FAB;
	padding:3px;
}

div#mw-recreate-deleted-warn ul li {
	font-size:90%;
}


#bs-personal-menu ul,#bs-personal-menu li, #bs-personal-menu-open ul,#bs-personal-menu-open li {
	list-style:none;
}

div#userlogin .captcha,div#userloginForm .captcha {
	border:1px solid #bbb;
	background-color:#FFF;
	padding:1.5em 2em;
}

div#userloginForm form,div#userlogin form#userlogin2 {
	border:1px solid #aaa;
	clear:both;
	background-color:#f9f9f9;
	margin:0 3em 1em 0;
	padding:1.5em 2em;
}

div#userloginForm h2,div#userlogin form#userlogin2 h2 {
	padding-top:0;
}

div.bs-tools-widgets-column {
	width:19.876%;
	float:left;
	border-right:1px solid #EFEFEF;
	margin:10px 0 0 0;
	padding-bottom: 10px;
}

div.bs-tools-widgets-column div.bs-widget div.bs-widget-body a,#ca-more-menu a {
	font-family:Muli, sans-serif;
	font-size:12px;
	color:#3E5389;
}

div.bs-tools-widgets-column div.bs-widget div.bs-widget-body a.new {
	color:#a55858;
}
div.bs-tools-widgets-column div.bs-widget div.bs-widget-body a:hover{
	text-decoration: none;
}

div.floatleft,table.floatleft {
	float:left;
	clear:left;
	position:relative;
	border:0;
	margin:0 .5em .5em 0;
}

div.floatright p,div.floatleft p,.sharedUploadNotice,span.comment {
	font-style:italic;
}

div.floatright,table.floatright {
	clear:right;
	float:right;
	position:relative;
	border:0;
	margin:0 0 .5em .5em;
}

div.gallerybox {
	margin:2px;
}

div.gallerybox div.thumb {
	text-align:center;
	border:1px solid #ccc;
	margin:2px;
}

div.gallerytext {
	overflow:hidden;
	font-size:94%;
	padding:2px 4px;
}

div.magnify {
	float:right;
	border:none!important;
	background:none!important;
}

div.magnify a,div.magnify img {
	display:block;
	border:none!important;
	background:none!important;
}

div.multipageimagenavbox {
	border:solid 1px silver;
	-moz-border-radius:6px;
	background:#f0f0f0;
	margin:1em;
	padding:4px;
}

div.multipageimagenavbox div.thumb {
	border:none;
	margin-left:2em;
	margin-right:2em;
}

div.multipageimagenavbox hr {
	margin:6px;
}

div.mw-lag-warn-high {
	font-weight:700;
	border:2px solid #F03;
	background-color:#FCC;
}

div.mw-lag-warn-normal {
	border:1px solid #FC6;
	background-color:#FFC;
}

div.mw-lag-warn-normal,div.mw-lag-warn-high {
	text-align:center;
	margin:3px auto;
	padding:3px;
}

div.noarticletext {
	border:1px solid #ccc;
	background:#fff;
	color:#000;
	padding:.2em 1em;
}

div.patrollink {
	font-size:75%;
	text-align:right;
}

div.prefsectiontip {
	font-size:x-small;
	color:#666;
	padding:.2em 2em;
}

div.thumb {
	margin-bottom:.5em;
	width:auto;
	border-color:#FFF;
	border-style:solid;
}

div.thumbinner {
	border:1px solid #ccc;
	background-color:#f9f9f9;
	font-size:94%;
	text-align:center;
	overflow:hidden;
	padding:3px!important;
}

div.tleft {
	float:left;
	clear:left;
	margin-right:.5em;
	border-width:.5em 1.4em .8em 0;
}

div.townBox {
	position:relative;
	float:right;
	background:#FFF;
	margin-left:1em;
	border:1px solid gray;
	width:200px;
	overflow:hidden;
	clear:right;
	padding:.3em;
}

div.townBox dl {
	font-size:96%;
	margin:0 0 .3em;
	padding:0;
}

div.townBox dl dd {
	background-color:#f3f3f3;
	margin:.1em 0 0 1.1em;
}

div.townBox dl dt {
	background:none;
	margin:.4em 0 0;
}

div.tright {
	clear:right;
	float:right;
	border-width:.5em 0 .8em 1.4em;
}

fieldset#bluespice > div > fieldset {
	background-color:#ecf1f8;
	/*@embed*/
	background-image:url(images/desktop/bs-bg-fieldset.png)!important;
	background-repeat:repeat-x!important;
}

fieldset#bluespice legend {
	background-color:#FFF;
	min-width:150px;
	padding:0 20px 0 6px;
}

fieldset.bs-prefs {
	border-left:none;
	border-bottom:none;
	border-right:none;
	border-top:none;
	clear:both;
}

h3.bs-tools-headline {
	background-color:#3E5389;
	color:#FFF;
	text-align:center;
	padding:5px 0;
	font-weight: normal;
}

html {
	overflow-y:scroll;
}

html .thumbcaption {
	border:none;
	text-align:left;
	line-height:1.4em;
	font-size:94%;
	padding:3px!important;
}

html .thumbimage {
	border:1px solid #ccc;
}

img.thumbborder {
	border:1px solid #ddd;
}

li span.deleted,span.history-deleted {
	text-decoration:line-through;
	color:#888;
	font-style:italic;
}

li#ca-viewsource,li#ca-more {
	margin-left:-4px;
}
li#ca-history{
	margin-right: 1px;
	padding: 0 6px 7px 12px !important;
}
li#ca-edit{
	border-left: none;
	padding: 0 12px 7px !important;
}
li#ca-nstab-main {
	margin-left: 0px;
}
li#ca-edit a{
	margin-top: -19px;
}
li#ca-history a{
	margin-top: -30px;
	margin-right: 5px;
}
li#ca-more {
	color:#3e5389;
	cursor:default;
}
#p-cactions-list-left{
	float: left;
}
#p-cactions-list-right{
	float: right;
}

li#ca-more ul {
	width:128px;
	background-color:#eff3f9;
	display:none;
	text-align:left;
	height:auto;
	position:absolute;
	z-index:1000;
	border:1px solid #AEC8E8;
	margin:7px 0 0 -118px;
	padding:2px;
}
#contentSub{
	margin: 0 !important;
}
li#ca-more ul li {
	text-align:left;
	display:block;
	background:transparent;
	width:126px;
	list-style:none;
	height:inherit;
	border-style:none;
	margin:0;
	padding:1px;
}

li#ca-more ul li a {
	display:block;
	text-decoration:none;
	vertical-align:middle;
	padding:5px;
}

li#ca-more ul li a:hover {
	background-color:#FBFDFE;
}

li.bs-actions-pdf a {
	/*@embed*/
	background:url(images/desktop/content-pdf-btn.png) no-repeat 0 0;
}

li.bs-actions-print a {
	/*@embed*/
	background:url(images/desktop/content-drucken-btn.png) no-repeat 0 0;
}
li.bs-actions-pdf a:hover {
	/*@embed*/
	background:url(images/desktop/content-pdf-btn-active.png) no-repeat 0 0;
}

li.bs-actions-print a:hover {
	/*@embed*/
	background:url(images/desktop/content-drucken-btn-active.png) no-repeat 0 0;
}

p.mw-ipb-conveniencelinks {
	font-size:90%;
	float:right;
}

p.revision_saved {
	color:green;
	font-weight:700;
}

pre {
	border:1px dashed #2f6fab;
	color:#000;
	background-color:#f9f9f9;
	line-height:1.1em;
	overflow:auto;
	padding:1em;
}

q {
	font-family:Times, "Times New Roman", serif;
	font-style:italic;
}

table.gallery tr {
	vertical-align:top;
}

span.changedby,span.searchalttitle {
	font-size:95%;
}

span.editsection a {
	width:16px;
	height:16px;
	/*@embed*/
	background:url(images/desktop/content-edit-btn.png) no-repeat 0 0;
	display:block;
}

span.editsection a:hover {
	background-position:0 -16px;
}
.mw-content-ltr .editsection{
	margin: 0 5px 0 0;
}

span.bsErrorLegend {
	color:red;
}

span.subpages {
	display:block;
	margin-left:10px;
	padding:2px;
}

span.unpatrolled {
	font-weight:700;
	color:red;
}

span.updatedmarker {
	color:#000;
	background-color:#0f0;
}

table {
	font-size:100%;
	color:#444;
}

#bs-sb-form {
	width:auto;
}

table#sv-ext,table#sv-hooks {
	margin:1em;
	padding:0;
}

table.diff {
	border:none;
	width:98%;
	border-spacing:4px;
	table-layout:fixed;
}

table.diff col.diff-content {
	width:48%;
}

table.diff col.diff-marker {
	width:2%;
}

table.diff td div {
	word-wrap:break-word;
	font-size: inherit !important;
}

.bs-widget,.bs-sb fieldset {
	padding:0;
}

table.gallery {
	border:1px solid #ccc;
	background-color:#FFF;
	margin:2px;
	padding:2px;
}

table.gallery td {
	vertical-align:top;
	background-color:#f9f9f9;
	border:solid 2px #FFF;
}

table.gallery td.galleryheader {
	text-align:center;
	font-weight:700;
}

table.mw_metadata {
	font-size:.8em;
	margin-left:.5em;
	margin-bottom:.5em;
	width:300px;
	border:none;
	border-collapse:collapse;
}

table.mw_metadata td {
	background-color:#fcfcfc;
	padding:.1em;
}

table.mw_metadata td,table.mw_metadata th {
	text-align:center;
	border:1px solid #aaa;
	padding-left:.1em;
	padding-right:.1em;
}

table.mw_metadata th {
	font-weight:400;
	background-color:#f9f9f9;
}

table.revisionform_default {
	border:1px solid #000;
}

table.revisionform_focus {
	border:1px solid #000;
	background-color:#0BF;
}

table.rimage {
	float:right;
	position:relative;
	margin-left:1em;
	margin-bottom:1em;
	text-align:center;
}

table.small {
	font-size:100%;
}

td.diff-marker {
	text-align:right;
}

td.diff-addedline {
	background:#cfc;
	font-size:smaller;
}

td.diff-context {
	background:#eee;
	font-size:smaller;
}

td.diff-deletedline {
	background:#ffa;
	font-size:smaller;
}

tr.revision_tr_default {
	background-color:#EEE;
}

tr.revision_tr_first {
	background-color:#DDD;
}

tr.sv-space {
	height:.8em;
	border:none;
}

ul {
	list-style-type:none!important;
}

ul#filetoc {
	text-align:center;
	border:1px solid #aaa;
	background-color:#f9f9f9;
	font-size:95%;
	margin-bottom:.5em;
	margin-left:0;
	margin-right:0;
	padding:5px;
}

ul.bs-who-heading li {
	padding:3px 4px;
}
div.bs-authors{
	padding: 15px;
}
#review-userbar-element{
	margin-right: -45px;
	margin-top: 22px;
	color: #FEB01B;
	width: 45px;
	text-align: right;
	/*@embed*/
	background: url(images/desktop/userbar-icon-workflow.png) no-repeat transparent;
	display: block;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 12px;
	text-align: center;
	text-indent: 26px;
}
#review-userbar-element img{
	display: none;
}
#review-userbar-element a, #review-userbar-element a:hover{
	color: #FEB01B;
	text-decoration: none;
}
#review-userbar-element-open{
	float: right;
	width: 90px;
}
#bs-tools-shadow-left{
	/*@embed*/
	background: url(images/desktop/toolbar-bg-left.png) transparent repeat-y;
	width: 14px;
	height: 91.5%;
	bottom: 0;
	display: block;
	float: left;
	position: absolute;
	border-right: 1px solid #3E5389;
}
#bs-tools-shadow-right{
	/*@embed*/
	background: url(images/desktop/toolbar-bg-right.png) transparent repeat-y;
	width: 16px;
	height: 90.5%;
	bottom: 0;
	position: absolute;
	right: 0;
	border-left: 1px solid #3E5389;
}
#bs-tools-shadow-bottom{
	width: 100%;
	height: 14px;
	position: absolute;
	bottom: -13px;
}
#bs-tools-shadow-bottom-left{
	/*@embed*/
	background: url(images/desktop/toolbar-bg-left-bottom.png) transparent no-repeat 3px 0;
	width: 14px;
	height: 14px;
	float: left;
}
#bs-tools-shadow-bottom-middle{
	/*@embed*/
	background: url(images/desktop/toolbar-bg-middle.png) transparent repeat-x;
	width: 97.2%;
	height: 14px;
	float: left;
	border-top: 1px solid #3E5389;
}
#bs-tools-shadow-bottom-right{
	/*@embed*/
	background: url(images/desktop/toolbar-bg-right-bottom.png) transparent no-repeat 0 1px;
	width: 14px;
	height: 14px;
	float: left;
}

div.left_navigation_icon{
	/*@embed*/
	background: url(images/desktop/left_navigation_sprite.png) 0 48px;
	width:24px;
	height:24px;
	float: left !important;
	margin-right: 8px;
	margin-top: 3px;
}

#n-mainpage div.left_navigation_icon, #n-mainpage-small{
	background-position: 0 120px;
}
#n-special-allpages div.left_navigation_icon, #n-special-allpages-small {
	background-position: 0 168px;
}
#n-special-categories div.left_navigation_icon, #n-special-categories-small { 
	background-position: 0 0px;
}
#n-special-recentchanges div.left_navigation_icon, #n-special-recentchanges-small { 
	background-position: 0 72px;
}
#n-external-manuals div.left_navigation_icon, #n-external-manuals-small { 
	background-position: 0 144px;
}
#n-external-support div.left_navigation_icon, #n-external-support-small { 
	background-position: 0 24px;
}
#n-external-contact div.left_navigation_icon, #n-external-contact-small { 
	background-position: 0 96px;
}
#pt-notifications-open > a, #review-userbar-element-open > a{
	margin-left: 0 !important;
}
#bs-authors-img-container, #bs-readers-img-container{
	float: none;
	clear: both;
}
#bs-readers-img-container{
	display: none;
}

div.bs-authors legend.readers-legend, div.bs-authors legend.authors-legend{
	float: left;
	color: #717171 !important;
	text-transform: uppercase;
	cursor: pointer;
	padding-top: 10px !important;
}
div.bs-authors legend{
	font-size: 12px;
}
div.bs-authors legend.active{
	color: #3E5389 !important;
	/*@embed*/
	background: url('images/desktop/authors-active.png') no-repeat center top;
	font-weight: bold;
}
legend.readers-legend{
	margin-left: 15px;
}
.bs-authors-originator{
	height: auto;
}
div.bs-authors.tabbed{
	margin-top: -15px;
	padding-top: 0px;
}
div.bs-authors fieldset{
	padding: 0;
}
#userloginForm{
	border: none;
}
input#wpSummary{
	width: 82.6%;
}
body.mce-content-body {
	padding: 0 !important
}

#sv-ext, #mw-version-entrypoints-table, #sv-software {
	width: inherit !important
}
.selflink {
	/*font-weight: normal;*/
}

.mw-content-ltr .editsection {
	float: right;
}

#wpLoginAttempt {
	height: inherit !important;
}

#bs-user-container-open, #bs-user-container{
	margin-right: -13px !important;
}

#bs-user-container-open, #bs-user-container{
	margin-right: -13px !important;
}

#bs-statebar-viewtoggler{
	float: left;
}
#bs-statebar-viewtoggler-image{
	width: 71px;
	height: 9px;
	margin: 0 auto;
}
#bs-statebar{
	padding-left: 0px;
}
#bs-statebar-view{
	clear: none !important;
	float: left;
	clear: both;
	width: 100%;
	background-color: rgb(238, 238, 238);
	margin: 0px;
}