.bs-color1 {
	color: #474d67;
}

.bs-border1 {
	border: 1px solid #474d67;
}

.bs-color2 {
	color: #98a7c4;
}

.bs-border2 {
	border: 1px solid #98a7c4;
}

.bs-color3 {
	color: #dde7f1;
}

.bs-border3 {
	border: 1px solid #dde7f1;
}

.bs-color4 {
	color: #deaf3b;
}

.bs-border4 {
	border: 1px solid #deaf3b;
}


.bs-highlight {
	
}

p.bs-highlight,
div.bs-highlight {
	
}

a.bs-highlight,
span.bs-highlight {
	
}