@body-font-size: 1em;

// BlueSpice
// INT:https://wiki.hallowelt.biz/index.php/Blue_spice/Style_Guide/Allgemeine_Designobjekte
@bs-color-primary: #3e5389; //blue
@bs-color-secondary: #ffae00; //orange
@bs-color-tertiary: #b73a3a; //red
@bs-color-neutral: #929292; //grey
@bs-color-neutral2: #ABABAB; //lighten(@bs-color-neutral1, 10%); - LESS / RL issue
@bs-color-neutral3: #C4C4C4; //lighten(@bs-color-neutral1, 20%);
@bs-color-neutral4: #787878; //darken(@bs-color-neutral1, 10%);

@bs-width-navcol: 230px;
@bs-margin-left-content: 240px;

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}