#bs-statebar {
	background-color: #eee;
}

#bs-statebar-viewtoggler {
	float: right;
}

#bs-statebar-view .bs-statebar-body-item {
	float: left;
}

.bs-statebar-top-item {
	padding: 0.5em;
	height: 36px;
	display: inline-block;
	box-sizing: border-box;
}