
#searchform {
	width: 370px;
	margin-right: -34px;
}

#searchform input,
#searchform button {
	margin: 0;
	height: 32px;
	display: inline-block;
}

#searchform button {
	position: relative;
	background: none;
	border: none;
	left: -34px;
	cursor: pointer;
}

#searchform input {
	padding: 0 16px;
	width: 300px;
	border: 2px solid;
	border-color: @bs-color-neutral;
	.border-radius( 8px );
}