
[class^="icon-"] span:first-child,
[class*=" icon-"] span:first-child {
	display: none;
}

a[class^="icon-"],
a[class*=" icon-"],
a[class^="icon-"]:visited,
a[class*=" icon-"]:visited {
	text-decoration: none;
	color: lightgrey;
}

a[class^="icon-"]:hover,
a[class*=" icon-"]:hover {
	text-decoration: none;
	color: @bs-color-primary;
}

.icon24 {
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 4px;
}

.icon-mixin( @bg-pos-top ) {
	> a .icon24 {
		background-position: 0 @bg-pos-top;
	}
	> a:hover .icon24 {
		background-position: -24px @bg-pos-top;
	}
}

#bs-nav-sections {
	.bs-nav-links {
		.icon24::before {
			font-family: 'entypo';
			content: '\ea26';
			display: block;
			text-align: center;
			font-size: 130%;
		}
		li > a {
			display: block;
			line-height: 22px;
		}

		li {
			.icon-mixin( -192px );
		}

		.bs-nav-item-text {
			line-height: 22px; /* Has to be lower than icon height. Otherwise the text may break ugly */
		}
		a.feedlink{
			padding-left: 15px;
			line-height: 24px;
		}
	}

	li#n-mainpage span.icon24::before,
	li#n-mainpage-description span.icon24::before {
		font-family: 'icomoon';
		content: '\e900';
	}

	li#n-special-allpages span.icon24::before {
		font-family: 'entypo';
		content: '\e995';
	}

	li#n-special-categories span.icon24::before {
		font-family: 'entypo';
		content: '\e9fb';
	}

	li#n-special-recentchanges span.icon24::before,
	li#n-recentchanges span.icon24::before {
		font-family: 'fontawesome';
		content: '\f017';
	}

	li#n-external-manuals span.icon24::before,
	li#n-help span.icon24::before {
		font-family: 'fontawesome';
		content: '\f277';
	}

	li#n-external-support span.icon24::before {
		font-family: 'entypo';
		content: '\e97c';
	}

	li#n-external-contact span.icon24::before {
		font-family: 'fontawesome';
		content: '\f0e0';
	}

	li#n-randompage span.icon24::before {
		font-family: 'icomoon';
		content: "\e616";
	}

	.icon24.custom-icon::before,
	li#n-mainpage span.icon24.custom-icon::before,
	li#n-mainpage-description span.icon24.custom-icon::before,
	li#n-special-allpages span.icon24.custom-icon::before,
	li#n-special-categories span.icon24.custom-icon::before,
	li#n-special-recentchanges span.icon24.custom-icon::before,
	li#n-recentchanges span.icon24.custom-icon::before,
	li#n-external-support span.icon24.custom-icon::before,
	li#n-external-contact span.icon24.custom-icon::before {
		content: "";
	}
	li#n-randompage span.icon24.custom-icon {
		display: block;
		float: left;
	}

	#bs-nav-tabs a{
		font-size: 210%;
	}

	.bs-admin-link::before{
		padding-right: 10px;
	}
}

.icon-plus-after:after {
	content: "\e702";
}
.icon-arrow-down9-after:after {
	content: '\f078';
	font-family: 'fontawesome' !important;
}
.icon-menu2-after:after{
	content: "\e6b9";
}
.icon-search-light:before {
	content: "\e986";
	color: #fff;
}