body.mediawiki {
	font-family: @bs-font-default;
	font-size: 0.8em;
}

#bs-left-column,
#bs-left-column .ui-widget {
	font-size: 90%;
	.ui-widget {
		font-size: 100%;
	}
	font-family: @bs-font-default;
}
#bs-personal-name{
	font-size: 85%;
}
#bs-statebar-viewtoggler{
	font-size: 95%;
}
#bs-content-column{
	#left-navigation{
		font-family: @bs-font-actions;
		li a{
			color: @bs-color-dark-blue;
		}
		li.selected a{
			color: rgb(73, 73, 73);
			font-weight: bold;
		}
	}
	#right-navigation{
		font-family: @bs-font-actions;
		#p-views{
			li a{
				color: @bs-color-dark-blue;
			}
			li.selected a{
				color: rgb(73, 73, 73);
				font-weight: bold;
			}
		}
		#bs-cactions-button a span{
			font-family: @bs-font-actions;
		}
	}
}

#bs-menu-top-right{
	#bs-user-container{
		#bs-personal-menu{
			li a{
				font-size: 90%;
				color: black !important;
				font-family: @bs-font-actions;
			}
		}
	}
}

#bs-extendedsearch-autocomplete{
	> .ui-menu li.ui-menu-item{
		font-family: @bs-font-actions;
		color: @bs-color-dark-blue;
	}
}