#p-navigation > h5 {
	display: none;
}

#bs-nav-sections,
#bs-nav-sections.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
	border-top: 3px solid @bs-color-primary;
	padding: 0px;
	h5 {
		border-bottom: 1px solid #999;
	}
}

#bs-nav-sections {
	h5, a, .ui-widget-content a {
		color: #555;
	}
	h5 {
		margin-top: 1em;
		text-transform: uppercase;
	}
}

#bs-left-column ul {
	list-style: none;
	margin: 0;
}

#bs-nav-sections > div {
	margin: 10px;
}

#bs-nav-sections > div li {
	margin: 5px 0;
	display: block;
}

#bs-left-column #bs-nav-tabs {
	height: 36px;
	box-sizing: border-box;
	padding: .2em .2em 0;
}

#bs-left-column #bs-nav-tabs li {
	list-style:none;
	float: left;
	margin: 0 1em;
}

#bs-left-column #bs-nav-tabs li.ui-state-active a,
#bs-left-column #bs-nav-tabs li a,
#bs-left-column #bs-nav-tabs li a:visited {
	color:#AEC8E8;
	cursor:pointer;
}

#bs-left-column #bs-nav-tabs li.ui-tabs-selected a {
	text-decoration:none;
	cursor:default;
	color:#98a7c4;
}

#bs-nav-sections,
#bs-left-column .ui-corner-all {
	.border-radius(0px);
	background: none rgb(205, 223, 242);
	background: none rgba(205, 223, 242, 0.6);
	margin:0;
}

#bs-left-column .ui-corner-left,
#bs-left-column .ui-corner-right,
#bs-left-column .ui-corner-all {
	border:none;
}

#bs-left-column .ui-state-default,
#bs-left-column .ui-widget-content .ui-state-default,
#bs-left-column .ui-widget-header .ui-state-default {
	background:none;
	border:none;
}

#bs-left-column .ui-tabs .ui-tabs-nav li {
	border: none;
	float:none;
}

#bs-left-column .ui-tabs .ui-tabs-panel {
	background:none;
	border:none;
	padding:0 0 10px;
}

#bs-left-column .ui-widget-header {
	font-weight:400;
}

#bs-left-column li.ui-state-active a,
#bs-left-column li a,
#bs-left-column li a:visited.ui-tabs .ui-tabs-nav li a {
	float:none;
	text-decoration:none;
	padding:0;
}

.bs-nav-tab-icon {
	font-size: 200%;
}
#bs-usersidebar-edit {
	float: right;
}
