
[class^="icon-"] span:first-child,
[class*=" icon-"] span:first-child {
	display: none;
}

a[class^="icon-"],
a[class*=" icon-"],
a[class^="icon-"]:visited,
a[class*=" icon-"]:visited {
	text-decoration: none;
	color: lightgrey;
}

a[class^="icon-"]:hover,
a[class*=" icon-"]:hover {
	text-decoration: none;
	color: @bs-color-primary;
}

.icon24 {
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 4px;
}

.icon-mixin() {
	> a .icon24 {
		background-position: 0 @bg-pos-top;
	}
	> a:hover .icon24 {
		background-position: -24px @bg-pos-top;
	}
}

#bs-nav-sections {
	.bs-nav-links {
		.icon24 {
			/*@embed*/
			background-image: url("@{bs-skin-path}images/desktop/bs-nav-icon-sprite.png");
			display: block;
			float: left;
		}
		li > a {
			display: block;
			min-height: 24px;
		}

		@bg-pos-top: -192px;
		li {
			.icon-mixin();
		}

		.bs-nav-item-text {
			line-height: 22px; /* Has to be lower than icon height. Otherwise the text may break ugly */
		}
		a.feedlink{
			padding-left: 15px;
			line-height: 24px;
		}
	}

	li#n-mainpage,
	li#n-mainpage-description {
		@bg-pos-top: -120px;
		.icon-mixin();
	}

	li#n-special-allpages{
		@bg-pos-top: -72px;
		.icon-mixin();
	}

	li#n-special-categories {
		@bg-pos-top: -48px;
		.icon-mixin();
	}

	li#n-special-recentchanges,
	li#n-recentchanges {
		@bg-pos-top: -168px;
		.icon-mixin();
	}

	li#n-external-manuals,
	li#n-help{
		@bg-pos-top: -96px;
		.icon-mixin();
	}

	li#n-external-support {
		@bg-pos-top: -216px;
		.icon-mixin();
	}

	li#n-external-contact {
		@bg-pos-top: -144px;
		.icon-mixin();
	}
	#bs-nav-tabs a{
		font-size: 210%;
	}
}

.icon-plus-after:after {
	content: "\e702";
}
.icon-arrow-down9-after:after {
	content: "\e896";
}
.icon-menu2-after:after{
	content: "\e6b9";
}
.icon-search-light:before {
	content: "\e680";
	color: #fff;
}
